<div class="top-menu">

    <img class="logo"
        src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div class="demo">
    <div>Start Date: {{startDate | date: 'd · MMM · yyyy'}}</div>
    <div>Title: {{title | uppercase}}</div>
    <div>Number: {{price | number: '3.4-5'}}</div>
    <div>Currency: {{price | currency:'GBP'}}</div>
    <div>Percentage: {{rate | percent}}</div>
</div>

<hr/>

<!-- for debugging -->
{{courses | json}}

<hr/>

<div>
    @for (pair of course | keyvalue; track course.id) {
        {{pair.key + ':' + pair.value + '\n'}}
    }
</div>

<hr/>

<div class="courses">
    @for (course of courses | slice:0:4 ; track course.id; 
            let index = $index; let count = $count; 
            let first = $first; let last = $last;
            let even = $even; let odd = $odd) 
    {
        <!-- <h1>Count: {{count}}</h1> -->
        
        <course-card 
            (courseSelected)="onCourseSelected($event)" 
            [course]="course" 
            [index]="index" 
            [class.is-first]="first"
            [class.is-last]="last"
            [class.is-even]="even"
            [class.is-odd]="odd"
        />
    }
    @empty {
        <h1>No courses available</h1>
    }
</div>


